# Godot 4+ specific ignores
.godot/
rust_test/target/debug/.fingerprint/
rust_test/target/debug/build/
rust_test/target/debug/deps/
rust_test/target/debug/examples/
rust_test/target/debug/incremental/
rust_test/target/.rustc_info.json
rust_test/target/CACHEDIR.TAG
rust_test/Cargo.lock
.DS_Store
rust_standalone/target/debug/.fingerprint/
rust_standalone/target/debug/build/
rust_standalone/target/debug/deps/
rust_standalone/target/debug/examples/
rust_standalone/target/debug/incremental/
rust_standalone/target/.rustc_info.json
rust_standalone/target/CACHEDIR.TAG
rust_standalone/Cargo.lock
